.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--black);
}

.cart-body {
  min-width: 50vw;
  min-height: 70vh;
}

.cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  user-select: none;
  max-width: 80vw;
}

.cart-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: -20px 0 0 20px;
  background-color: #e44d5f;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  pointer-events: none;
}

.cart-items {
  max-width: 100%;
  border-radius: 5px;
  border: 2px solid gray;
  box-shadow: 5px 5px 10px whitesmoke;
  max-height: 60vh;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid lightgray;
  gap: 50px;
}

.cart-item img {
  object-fit: contain;
  width: 5vw;
}

.cart-description {
  display: flex;
  flex-direction: column;
  min-width: 40vw;
}

.cart-item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.cart-item-row h2 {
  max-width: 20vw;
}

.cart-item:last-of-type {
  border-bottom: none;
}

.cart-btn {
  margin: 20px 0;
}

.trash {
  border: none;
  background-color: transparent;
  height: 25px;
  width: 25px;
  font-size: 1.2rem;
  color: gray;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.trash:hover {
  color: var(--black);
}

.quantity {
  display: flex;
  align-items: center;
  gap: 15px;
}

.quantity button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(240, 240, 240);
  font-size: 1.5rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
  user-select: none;
}

.quantity button:hover {
  background-color: rgb(230, 230, 230);
}

.message {
  text-align: center;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.overlay.active {
  display: block;
}

.purchased {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;
  background-color: white;
  color: var(--black);
  border-radius: 10px;
  padding: 20px 30px;
  text-align: center;
  font-size: 2vw;
  width: 30%;
  transition: 0.2s;
}

.purchased.active {
  transform: translate(-50%, -50%) scale(1);
}

.canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

@media only screen and (max-width: 800px) {
  .cart-item {
    gap: 20px;
  }

  .cart-item img {
    width: 10vw;
  }
}
