:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --black: #2b2d42;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fffffa;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
  color: var(--black);
}

header h1 {
  font-size: 1.8rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

@media (max-width: 2000px) {
  footer {
    position: static;
  }
}
